body {
  background-color: black;
  color: white;
  font-family: Monospaced, Courier;
  font-size: 8pt;
  margin: 0;
  padding: 2px;
  overflow-x: hidden;
}

table, tbody, tr, td {
  margin: 0;
  padding: 0;
}

select, input, button {
  font-family: Monospaced, Courier;
  font-size: 8pt;
  margin: 0;
  padding: 1px;
}

select, option {
  background-color: lightgrey;
}

ul {
  list-style: none;
  margin: 1px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 1px;
  padding-left: 5px;
}

ul.tabs  {
  background-color: lightgrey;
}

ul.tabs > li.selected {
  background-color: white;
}

.logFatal {
  color: darkred;
}

.logError {
  color: red;
}

.logWarn {
  color: orange;
}

.logInfo {
  color: green;
}

.logDebug {
  color: limegreen;
}

.logTrace {
  color: lightgreen;
}

.bold {
  font-weight: bold;
}

span.errorStackClick {
  text-decoration: underline;
}

div.errorStack {
  background-color: lightyellow;
  color: black;
}

div#contentPanel {

}

div#logPanelComponent {
  margin-bottom: 25px;
}

/*  Wrapper for the content */
div#logPanelTreeComponent {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

div#logPanelTreeComponentContent {
  background-color: dimgray;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  overflow-y: scroll;
  overflow-x: auto;
}

div#logMessagesComponent {
  position: relative;
  top: 0;
  left: 200px;
}

div#logMessagesComponent div#logMessages {
  margin-bottom: 40px;
}


div#logMessagesComponent div#logMessagesLevels {
  background-color: black;
  position: fixed;
  left: 200px;
  bottom: 18px;
  width: 100%;
  overflow-x: hidden;
}

div#logMessagesComponent div#logMessagesConsoleComponent {
  background-color: dimgray;
  position: fixed;
  bottom: 0;
  padding-bottom: 2px;
  width: 100%;
}

div#logMessagesConsoleComponent > input {
  width: 100%;
}

